html {
  font-size: 62.5%
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin-bottom: 50px;
}
.round-bg {
  background: #cff0f2;
  border-radius: 10px;
  padding: 10px 20px;
}

.bt-2 {
  border-top: 2px solid #d1d1d1;
}
.bb-2 {
  border-bottom: 2px solid #d1d1d1;
}
.bl-2 {
  border-left: 2px solid #d1d1d1;
}

hr {
  margin: 2.5rem 0;
}
.visibility-hidden {
  visibility: hidden;
}
.flex-grow-1 { flex-grow: 1;}

@media screen and (min-width: 992px) {
  .col-sep {
    border-left: 1px solid rgba(#d1d1d1, 0.4);
    height: 86%;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

/* Text */

h1.title {
  font-size: 3.0rem;
  color: #8a8989;
  font-weight: bold;
  padding: 0;
}
h2.title {
  color: #8a8989;
  font-size: 2.8rem;
}
p.round-bg {
  color: #759698;
  font-size: 1.6rem;
}

/* Form */
.btn {
  font-size: 1.5rem;
  padding: .6rem 2rem;
}
.btn-lg {
  padding: 0.8rem 1.1rem;
  font-size: 2rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.container {
  padding: 0;
}